{% extends "layouts/base.html" %}
{% block title %} 员工管理 {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">员工管理</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>所有已注册员工</h5>
                            </div>

                            <div class="card-block">
                                <div class="table-responsive table-hover">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>用户名</th>
                                                <th>邮箱</th>
                                                <th>用户组</th>
                                                <th>超级管理员</th>
                                                <th>是否激活</th>
                                                <th>最后登录</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for e in employees %}
                                            <tr>
                                                <th scope="row">{{ e.username }}</th>
                                                <td>{{ e.email }}</td>
                                                <td>{{ e.groups.all|join:", " }}</td>
                                                <td>
                                                    {% if e.is_superuser %}
                                                    <i class="fas fa-check-circle" style="color:#267013"></i>
                                                    {% else %}
                                                    <i class="fas fa-times-circle" style="color:#f01616"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if e.is_active %}
                                                    <i class="fas fa-check-circle" style="color:#267013"></i>
                                                    {% else %}
                                                    <i class="fas fa-times-circle" style="color:#f01616"></i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ e.last_login|date:"Y/m/d H:i" }}</td>
                                                <td><a href="{% url 'employees_detail' e.pk %}" class="badge badge-info"><i class="feather icon-edit"></i> 管理</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mt-3">
                                    <a href="{% url 'employee_create' %}" class="btn btn-primary"><i class="feather icon-user-plus"></i> 添加员工</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
